* {
    margin: 0;
    padding: 0;
}

.canvas {
    border:red 2px solid;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5vw;
}

#canvas-draft {
    background-color: transparent;
    z-index: 1000;
}

.container {
    border: springgreen 1px solid;
    width: 1280px;
    height: 850px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.container1 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.magnify-on {
    transform: scale(1.5);
    transform: center center;
}

#canvas-real2 {
    z-index: -1;
}

input {
    vertical-align: middle;
    margin: 15px;
}

body {
    background-image: url(../images/background.jpg);
    background-size: 3700px auto;
    background-position: 52% 55%;
}

#imageLoader {
    width: 15%
}

.btnBg {
    background-color: white;
    border-color: #9acd32;
}

.btnHover {
    background-color: white;
    animation-name: button;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

@keyframes button {
    from {
        background-color: white;
    }

    to {
        background-color: #9acd32;
    }
} 

.btnScale {
    animation-name: scale;
    animation-duration: .5s;
}

@keyframes scale {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
} 

input[type="range"]{
    -webkit-appearance: none;
    border-radius:2px;
    width:180px;
    height:4px;
    background-image:-webkit-linear-gradient(left ,#f22 0%,#f22 50%, #ebb 50%, #ebb 100%);
    box-shadow:inset #ebb 0 0 5px;
    outline : none;
    transition:.1s;
  }

  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:12px;
    height:12px;
    background:#f22;
    border-radius:50%;
    transition:.1s;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover,
  input[type="range"]::-webkit-slider-thumb:active{
    width:18px;
    height:18px;
  }

.sliderNamePosition {
    position: relative;
    right: 2%;
}


.rangerow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rangecontainer {
    width: 25%;
    text-align: right;
}

