.canvas {
    border: 1px black dotted;
    position: absolute;
    top: 1rem;
    /* bottom: 0px; */
    left: 1rem;
    /* right: 0px; */
}

#canvas-draft {
    background-color: transparent;
}

.container {
    height: 600px;
}

#canvas-real2 {
    z-index: -1;
}

input{
    vertical-align: middle;
}